/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.container-line {
    display: flex;
    align-items: center;
    height: 260px; /* Ajusta la altura según sea necesario */
}

.line {
    position: relative;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, gray, transparent);
}

.line::before {
    content: "or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 5px;
    color: gray;
}